VITE_IMMICH_URL=http://localhost:2283
VITE_SEAFILE_URL=http://localhost:8082
VITE_STIRLING_URL=http://localhost:8083
VITE_WORDPRESS_URL=http://localhost:8084
VITE_PHPMYADMIN_URL=http://localhost:8085
VITE_STANDARDNOTES_URL=http://localhost:3007
VITE_STANDARDNOTES_SYNC_URL=http://localhost:3004
VITE_WHISPERX_URL=http://localhost:3030
VITE_WHISPERX_API_URL=http://localhost:3020
VITE_ADMIN_LOGIN_URL=
